.home {
  height: calc(100vh - 51px);
  overflow-y: scroll;
  /* height: calc(100vh - 51px);
  overflow-y: scroll; */
}
.home .cards {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
}
@media screen and (max-width: 1350px) {
  .home .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 700px) {
  .home .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
