.login {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login .login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3% 3%;

  box-sizing: border-box;
  background: var(--white_006);
  border-left: 1px solid var(--white_03);
  border-top: 1px solid var(--white_03);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px var(--black_02);
  border-radius: 22px;
}
.login .login-container .input-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 10px 0;
}
.login .login-container > button {
  margin: 10px 0;
}
.login .login-container .input {
  outline: none;
  border: none;
  padding: 0 10px;
  width: 300px;
  height: 30px;

  background: linear-gradient(89.1deg, var(--blue_01), var(--red_01));
  box-shadow: 5px 5px 10px -2px var(--black_006);
  border-radius: 45px;
  transition: all 0.2s ease-in-out;
}
.login .login-container .input.input-error {
  border: 1px solid var(--red);
}
.login .login-container .error {
  position: absolute;
  top: 35px;
  color: var(--red);
  font-size: 9px;
  margin-left: 3px;
  align-self: flex-start;
}
.login .login-container .forgot-password-text {
  cursor: pointer;
  align-self: flex-end;
  font-size: 12px;
  color: var(--lightBlack);
}
.login .login-container button {
  outline: none;
  border: none;
  cursor: pointer;
  height: 30px;
  padding: 0 20px;

  background: linear-gradient(89.1deg, var(--blue_01), var(--red_01));
  box-shadow: 5px 5px 10px -2px var(--black_006);
  border-radius: 45px;
  transition: all 0.2s ease-in-out;
}
.login .login-container input:focus,
.login .login-container button:hover {
  background: var(--white_03);
}
.login .login-container input::placeholder,
.login .login-container input,
.login .login-container button {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: var(--lightBlack);
}

.login .login-container input::placeholder {
  color: var(--white);
}
.login .login-container input:focus::placeholder {
  color: var(--gray);
}

.login .signup-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  width: 300px;
  padding: 10px 3%;
  margin-top: 30px;

  color: var(--lightBlack);

  background: linear-gradient(89.1deg, var(--blue_01), var(--red_01));
  box-shadow: 5px 5px 10px -2px var(--black_006);
  border-left: 1px solid var(--white_03);
  border-top: 1px solid var(--white_03);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 22px;

  transition: all 0.2s ease-in-out;
}
.login .signup-section:hover {
  background: var(--white_03);
}

@media screen and (max-width: 600px) {
  .login .login-container .input {
    width: 250px;
  }
  .login .signup-section {
    width: 250px;
  }
}
@media screen and (max-width: 400px) {
  .login .login-container .input {
    width: 200px;
  }
  .login .signup-section {
    width: 200px;
  }
}
