.login {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login .login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3% 3%;

  box-sizing: border-box;
  background: rgba(225, 255, 255, 0.06);
  border-left: 1px solid rgba(225, 255, 255, 0.3);
  border-top: 1px solid rgba(225, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  border-radius: 22px;
}
.login .login-container > input,
.login .login-container > button {
  margin: 10px 0;
}
.login .login-container input {
  outline: none;
  border: none;
  padding: 0 10px;
  width: 300px;
  height: 30px;
  background: linear-gradient(
    89.1deg,
    rgba(69, 46, 210, 0.1) 0%,
    rgba(199, 95, 95, 0.1) 100%
  );
  box-shadow: 5px 5px 10px -2px #0000000f;
  border-radius: 45px;
  transition: all 0.2s ease-in-out;
}
.login .login-container span {
  cursor: pointer;
  align-self: flex-end;
  font-size: 12px;
  color: var(--lightBlack);
}
.login .login-container button {
  outline: none;
  border: none;
  cursor: pointer;
  height: 30px;
  padding: 0 20px;

  background: linear-gradient(
    89.1deg,
    rgba(69, 46, 210, 0.1) 0%,
    rgba(199, 95, 95, 0.1) 100%
  );
  box-shadow: 5px 5px 10px -2px #0000000f;
  border-radius: 45px;
  transition: all 0.2s ease-in-out;
}
.login .login-container input:focus,
.login .login-container button:hover {
  background: #ffffff4d;
}
.login .login-container input::placeholder,
.login .login-container input,
.login .login-container button {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: var(--lightBlack);
}

.login .login-container input::placeholder {
  color: var(--white);
}

.login .signup-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  width: 300px;
  padding: 10px 3%;
  margin-top: 30px;

  /* box-sizing: border-box; */
  color: var(--lightBlack);
  /* background: rgba(225, 255, 255, 0.06); */
  background: linear-gradient(
    89.1deg,
    rgba(69, 46, 210, 0.1) 0%,
    rgba(199, 95, 95, 0.1) 100%
  );
  border-left: 1px solid rgba(225, 255, 255, 0.3);
  border-top: 1px solid rgba(225, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  border-radius: 22px;

  transition: all 0.2s ease-in-out;
}
.login .signup-section:hover {
  background: #ffffff4d;
}
