.add-diary {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.add-diary .container {
  margin-top: 20px;
}
.add-diary .container .textarea {
  width: 100%;
  box-sizing: border-box;
  outline: none;
  padding: 20px;

  background: linear-gradient(
    49.73deg,
    var(--blue_03) 27.63%,
    var(--red_03) 73.88%
  );
  box-shadow: inset 0px 0px 100px 10px var(--blue_03);
  border-radius: 22px;
  border: 2px solid;

  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: var(--white);
}
/* toolbar */
.add-diary .ql-toolbar {
  border: none !important;
}
.add-diary .ql-toolbar .ql-formats span {
  outline: none;
  border: none;
}
.add-diary .ql-toolbar .ql-formats > span {
  outline: none;
  border: none;
  margin: 5px;
  background: linear-gradient(
    89.1deg,
    var(--mediumBlue_05),
    var(--mediumRed_05)
  );
  border-radius: 10px;
}
.add-diary .ql-toolbar .ql-save {
  padding: 3px 10px;
  background: linear-gradient(
    89.1deg,
    var(--mediumBlue_05),
    var(--mediumRed_05)
  );
  border-radius: 10px;
}
.add-diary .ql-toolbar .ql-formats > button,
.add-diary .ql-toolbar .ql-formats .ql-align,
.add-diary .ql-toolbar .ql-formats .ql-color,
.add-diary .ql-toolbar .ql-formats .ql-background {
  width: 31px;
  height: 31px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  background: radial-gradient(
    50% 50% at 50% 50%,
    var(--red_03),
    var(--blue_03)
  );
}
.add-diary .ql-toolbar .ql-formats svg > * {
  /* stroke: var(--white) !important; */
  /* fill: var(--white) !important; */
}
.add-diary .ql-toolbar .ql-formats button:hover svg > * {
  /* stroke: var(--blue); */
}

/* react-quill */
.add-diary .container .ql-container {
  height: calc(100vh - 91px);
  outline: none;

  background: linear-gradient(
    49.73deg,
    var(--blue_03) 27.63%,
    var(--red_03) 73.88%
  );
  box-shadow: inset 0px 0px 100px 10px var(--blue_03);
  border-radius: 22px;
  border: 2px solid;
}
.add-diary .container.edit .ql-container {
  height: calc(100vh - 176px);
}
