.add-diary {
  display: flex;
  flex-direction: column;
}
.add-diary .container {
  margin-top: 20px;
}
.add-diary .container .textarea {
  width: 100%;
  height: calc(100vh - 75px);
  box-sizing: border-box;
  outline: none;
  padding: 20px;

  background: linear-gradient(
    49.73deg,
    rgba(0, 25, 255, 0.27) 27.63%,
    rgba(205, 31, 31, 0.27) 73.88%
  );
  box-shadow: inset 0px 0px 100px 10px rgba(0, 26, 255, 0.24);
  border-radius: 22px;
  border: 2px solid;

  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: var(--white);
}
/* toolbar */
.add-diary .ql-toolbar {
  border: none !important;
}
.add-diary .ql-toolbar .ql-formats span {
  outline: none;
  border: none;
}
.add-diary .ql-toolbar .ql-formats > span {
  outline: none;
  border: none;
  margin: 5px;
  background: linear-gradient(
    89.1deg,
    rgba(69, 46, 210, 0.456) 0%,
    rgba(199, 95, 95, 0.456) 100%
  );
  border-radius: 10px;
}
.add-diary .ql-toolbar .ql-formats > button,
.add-diary .ql-toolbar .ql-formats .ql-align,
.add-diary .ql-toolbar .ql-formats .ql-color,
.add-diary .ql-toolbar .ql-formats .ql-background {
  width: 31px;
  height: 31px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(199, 95, 95, 0.456) 0%,
    rgba(0, 26, 255, 0.228) 100%
  );
}
.add-diary .ql-toolbar .ql-formats svg > * {
  /* stroke: var(--white) !important; */
  /* fill: var(--white) !important; */
}
.add-diary .ql-toolbar .ql-formats button:hover svg > * {
  /* stroke: var(--blue); */
}
/* react-quill */
.add-diary .container .ql-container {
  height: calc(100vh - 132px);
  outline: none;

  background: linear-gradient(
    49.73deg,
    rgba(0, 25, 255, 0.27) 27.63%,
    rgba(205, 31, 31, 0.27) 73.88%
  );
  box-shadow: inset 0px 0px 100px 10px rgba(0, 26, 255, 0.24);
  border-radius: 22px;
  border: 2px solid;
  /* border-image-source: conic-gradient(
    from 180deg at 50% 50%,
    #001aff 0deg,
    #cd1f1f 238.12deg,
    #001aff 360deg
  ); */
}
