.add-diary-mobile {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.add-diary-mobile .container {
  margin-top: 20px;
}
/* .add-diary-mobile .container .textarea {
  width: 100%;
  box-sizing: border-box;
  outline: none;
  padding: 20px;

  background: linear-gradient(
    49.73deg,
    var(--blue_03) 27.63%,
    var(--red_03) 73.88%
  );
  box-shadow: inset 0px 0px 100px 10px var(--blue_03);
  border-radius: 22px;
  border: 2px solid;

  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: var(--white);
} */
/* toolbar */
.add-diary-mobile .ql-toolbar .ql-formats svg > * {
  /* stroke: var(--white) !important; */
  /* fill: var(--white) !important; */
}
.add-diary-mobile .ql-toolbar .ql-formats button:hover svg > * {
  /* stroke: var(--blue); */
}

.add-diary-mobile .ql-toolbar .ql-save {
  display: none;
}
/* react-quill */
.add-diary-mobile .container .ql-container {
  height: calc(100vh - 91px);
  outline: none;

  background: linear-gradient(
    49.73deg,
    var(--blue_03) 27.63%,
    var(--red_03) 73.88%
  );
  box-shadow: inset 0px 0px 100px 10px var(--blue_03);
  border-radius: 22px;
  border: 2px solid;
}
