.forget {
  margin-top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forget .forget-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3% 5%;

  box-sizing: border-box;
  background: var(--white_006);
  border-left: 1px solid var(--white_03);
  border-top: 1px solid var(--white_03);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px var(--black_02);
  border-radius: 22px;
}
.forget .forget-container .input-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 10px 0;
}
.forget .forget-container > button {
  margin: 10px 0;
}
.forget .forget-container .input {
  outline: none;
  border: none;
  padding: 0 10px;
  width: 300px;
  height: 30px;

  background: linear-gradient(89.1deg, var(--blue_01), var(--red_01));
  box-shadow: 5px 5px 10px -2px var(--black_006);
  border-radius: 45px;
  transition: all 0.2s ease-in-out;
}
.forget .forget-container .input.input-error {
  border: 1px solid var(--red);
}
.forget .forget-container .error {
  position: absolute;
  top: 35px;
  color: var(--red);
  font-size: 9px;
  margin-left: 3px;
  align-self: flex-start;
}
.forget .forget-container button {
  outline: none;
  border: none;
  cursor: pointer;
  height: 30px;
  padding: 0 20px;

  background: linear-gradient(89.1deg, var(--blue_01), var(--red_01));
  box-shadow: 5px 5px 10px -2px var(--black_006);
  border-radius: 45px;
  transition: all 0.2s ease-in-out;
}
.forget .forget-container input:focus,
.forget .forget-container button:hover {
  background: var(--white_03);
}
.forget .forget-container input::placeholder,
.forget .forget-container input,
.forget .forget-container button {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: var(--lightBlack);
}

.forget .forget-container input::placeholder {
  color: var(--white);
}
.forget .forget-container input:focus::placeholder {
  color: var(--gray);
}
@media screen and (max-width: 600px) {
  .forget .forget-container .input {
    width: 250px;
  }
}
@media screen and (max-width: 400px) {
  .forget .forget-container .input {
    width: 200px;
  }
}
