:root {
  --white: #ffffff;
  --white_006: #e1ffff0f;
  --white_03: #e1ffff4d;
  --white_07: #e1ffffb3;

  --black: #000000;
  --black_02: #00000033;
  --black_006: #0000000f;
  --lightBlack: #4f4f4f;
  --lightBlack_02: #4f4f4f80;
  --lightGray: #e6e6e6;
  --gray: #838383;

  --red: #ad0707;
  --lightRed: #ffcdcd;
  --red_01: #ff00001a;
  --red_03: #ff000033;
  --blackRed_08: #250000cc;
  --mediumRed_05: #c75f5f74;

  --blue: #001aff;
  --lightBlue: #adb5ff;
  --blue_01: #0000ff1a;
  --blue_03: #0000ff33;
  --blackBlue_08: #030020cc;
  --mediumBlue_05: #452ed274;

  --font: sans-serif;
}
.mysterious-night {
  --lightBlack: #d4d4d4;
  --lightBlack_02: #c7c7c780;

  --red_01: #ff000033;

  --blue_01: #0000ff33;
}
.default {
  --lightBlack: #4f4f4f;
  --lightBlack_02: #4f4f4f80;

  --red_01: #ff00001a;

  --blue_01: #0000ff1a;
}
.app {
  font-family: var(--font);
  color: var(--white);

  mix-blend-mode: normal;
}
/* selection */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
  background: none;
}
::-webkit-scrollbar-thumb {
  background: var(--lightBlack_02);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--gray);
}
