:root {
  --white: #ffffff;
  --white_006: #e1ffff0f;
  --white_03: #e1ffff4d;
  --white_07: #e1ffffb3;

  --black: #000000;
  --black_02: #00000033;
  --black_006: #0000000f;
  --lightBlack: #4f4f4f;
  --lightGray: #e6e6e6;
  --gray: #838383;

  --red: #ad0707;
  --lightRed: #ffcdcd;
  --red_01: #ff00001a;
  --red_03: #ff000033;
  --blackRed_08: #250000cc;
  --mediumRed_05: #c75f5f74;

  --blue: #001aff;
  --lightBlue: #adb5ff;
  --blue_01: #0000ff1a;
  --blue_03: #0000ff33;
  --blackBlue_08: #030020cc;
  --mediumBlue_05: #452ed274;

  --font: sans-serif;
}
.mysterious-night {
  --white: #ffffff;
  --white_006: #e1ffff0f;
  --white_03: #e1ffff4d;
  --white_07: #e1ffffb3;

  --black: #000000;
  --black_02: #00000033;
  --black_006: #0000000f;
  --lightBlack: #c7c7c7;
  --lightGray: #e6e6e6;
  --gray: #838383;

  --red: #ad0707;
  --lightRed: #ffcdcd;
  --red_01: #ff000033;
  --red_03: #ff000033;
  --blackRed_08: #250000cc;
  --mediumRed_05: #c75f5f74;

  --blue: #001aff;
  --lightBlue: #adb5ff;
  --blue_01: #0000ff33;
  --blue_03: #0000ff33;
  --blackBlue_08: #030020cc;
  --mediumBlue_05: #452ed274;

  --font: sans-serif;
}
.default {
  --white: #ffffff;
  --white_006: #e1ffff0f;
  --white_03: #e1ffff4d;
  --white_07: #e1ffffb3;

  --black: #000000;
  --black_02: #00000033;
  --black_006: #0000000f;
  --lightBlack: #4f4f4f;
  --lightGray: #e6e6e6;
  --gray: #838383;

  --red: #ad0707;
  --lightRed: #ffcdcd;
  --red_01: #ff00001a;
  --red_03: #ff000033;
  --blackRed_08: #250000cc;
  --mediumRed_05: #c75f5f74;

  --blue: #001aff;
  --lightBlue: #adb5ff;
  --blue_01: #0000ff1a;
  --blue_03: #0000ff33;
  --blackBlue_08: #030020cc;
  --mediumBlue_05: #452ed274;

  --font: sans-serif;
}
.app {
  font-family: var(--font);
  color: var(--white);

  min-height: 100vh;
  padding: 10px;
  box-sizing: border-box;
  mix-blend-mode: normal;
}
