:root {
  --black: #000000;
  --red: rgb(173, 7, 7);
  --lightBlack: #4f4f4f;
  --white: #ffffff;
  --lightGray: #e6e6e6;
  --blue: #001aff;
  --font: sans-serif;
}
.app {
  font-family: var(--font);
  color: var(--white);

  min-height: 100vh;
  background: linear-gradient(
    72.44deg,
    rgba(255, 0, 0, 0.18) 0%,
    rgba(0, 26, 255, 0.3) 99.98%
  );
  mix-blend-mode: normal;
  padding: 10px;
  box-sizing: border-box;
}
